
<section class="container-fluid mainConteiner">
    <header class="headerConteiner container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light bg-white bg-opacity-75 border-bottom box-shadow px-3 py-2 py-lg-1">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <div class="d-lg-flex w-100 justify-content-between align-items-center">
                        <div class=" me-lg-3">
                            <section>
                                <div class="example-button-row ">
                                    <div class="example-flex-container ">
                                        <div class="example-button-container ">                                           
                                                <img src="./../../../assets/images/logo/logo.png" style="width: 40px;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class=" me-lg-3">
                            <section>
                                <div class="example-button-row list-unstyled d-lg-flex">
                                    <li> <a mat-button href="https://www.google.com/" target="_blank" >Link</a></li>
                                    <li> <a mat-button href="https://www.google.com/" target="_blank" >Link</a></li>
                                </div>
                            </section>
                            <mat-divider></mat-divider>
                        </div>
                        <div >
                            <section>
                                <div class="example-button-row list-unstyled d-lg-flex gap-3">
                                 <li>   <a mat-raised-button href="" target="_blank" >Sign In</a></li>
                                 <li>   <a mat-raised-button href="" target="_blank" >Sign Up</a></li>
                                </div>
                            </section>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</section>

